head
    title ChangeApp
body
    | {{> interests }}
template(name="interests")
    div.interests
        | {{#with heading}}
        |   {{> changeHeader }}
        | {{/with}}
        | {{> interestList }}
        | {{> nextButton }}
template(name="changeHeader")
    header.titleBackground
        img.logo
        div.title-text {{ text }}
template(name="interestList")
    div.interestList
        | {{#each interestEntries}}
        |   {{> interestEntry }}
        | {{/each}}
template(name="interestEntry")
    div.interest-entry
        i.fa.fa-square
        label {{ name }}
template(name="nextButton")
    div.next-button
        span.next-text Next
template(name="non-profits")
    div.non-profits
        | {{#with heading}}
        |   {{> changeHeader }}
        | {{/with}}
