head
    title ChangeApp
body
    | {{> interests }}
template(name="interests")
    div.interests
        header.titleBackground
            img.logo
            div.title-text Select the causes you're interested in.
        | {{> interestList }}
        | {{> nextButton }}
template(name="interestList")
    div.interestList
        | {{#each interestEntries}}
        |   {{> interestEntry }}
        | {{/each}}
template(name="interestEntry")
    div.interest-entry
            i.fa.fa-square
            label {{ name }}
template(name="nextButton")
    div.next-button
        span.next-text Next
